$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1400px;

@mixin breakpoint ($bp) {
    @media screen and (max-width: $bp) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: $sm) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: $md) {
        @content;
    }
}

@mixin lg {
    @media screen and (max-width: $lg) {
        @content;
    }
}

@mixin xl {
    @media screen and (max-width: $xl) {
        @content;
    }
}