$color-bg-b: #1f1f38;
$color-bg-variant-b: #2c2c6c;
$color-primary-b: #4db5ff;
$color-primary-variant-b: rgba(77, 181, 255, 0.4);

$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);

$color-bg-r: #5e1418;
$color-bg-variant-r: #c90919;
$color-primary-r: #ee4908;
$color-primary-variant-r: rgba(168, 39, 7, 0.4);

body {
    background: $color-bg-r;
    color: $color-white;
    background-image: url(../../assets/bg-texture.png);
}