@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

$font-size: (
    "sm": 24px,
    "md": 32px,
    "lg": 40px
);

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    text-transform: uppercase;
}

@mixin h1 {
    font-size: map-get($font-size, "lg");
    color: $color-white;
    letter-spacing: 3px;
}

@mixin h2 {
    font-size: map-get($font-size, "md");
    color: $color-white;
    letter-spacing: 2px;
}

@mixin h5 {
    font-size: map-get($font-size, "sm");
    color: $color-primary;
    letter-spacing: 2px;
}