@import '../../styles/variables';
@import '../../styles/mixins';

.contact {
    @include container($lg);
    @include col(10);
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    @include breakpoint($lg) {
        @include col(12);
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        @include breakpoint($lg) {
            padding: 1.2rem 4rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__option {
        background: $color-bg-variant-r;
        padding: 1.2rem;
        border-radius: 1.2rem;
        text-align: center;
        border: 1px solid transparent;
        transition: $transition;
        pointer-events: none;
        @include breakpoint($lg) {
            padding: 1.2rem 5rem;
        }
        &:hover {
            background: transparent;
            border-color: $color-primary-variant-r;
        }


        &__icon {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        & > h5 > a {
            pointer-events: auto;
            color: $color-white;
            &:hover {
                color: $color-primary-r;
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid $color-primary-variant-r;
    resize: none;
    color: $color-white;
}